services:
  - type: web
    name: tmmr-backend
    runtime: node
    plan: free
    region: singapore
    buildCommand: cd backend && npm install
    startCommand: cd backend && npm start
    envVars:
      - key: PORT
        value: 5000
      - key: GEMINI_API_KEY
        sync: false
    autoDeploy: false
